# API endpoint URL (Live Render backend or local dev server)
EXPO_PUBLIC_API_URL=https://roadreport-plu6.onrender.com/api

# Cloudinary credentials for image uploading via REST API
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=mock_cloud
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=mock_preset
